<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement effectué</title>
</head>
<body>
    <h1>L'enregistrement a bien été effectué !</h1>
</body>
</html>